body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #FEF4E6;
}

.container {
  width: 500px;
  margin: 0 auto;
  border: 2px red dotted;
  padding: 10px 50px;
}

h1 {
  font-size: 20px;
  border: 2px solid red;
  margin: 20px 130px;
  padding: 20px;
  color: red;
  font-weight: 400;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.qs {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 10px 20px;
  background-color: #FBD88C;
}

.as {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 10px 20px;
  background-color:#B3DFAD;

}

.ansBox {
  border: 2px solid black;
  margin: 5px 0;
  background-color: #F5EDE4;
}

button {
  border: none;
  font-size: 29px;
  background-color: transparent;
}